// This is common style for detail page (go-chat, about-me)

@media screen and (max-width: 959px) {
  .project-grid {
    width: 80vw;
    margin: 0 auto;
    padding: 90px 16px 32px;
  }

  .sidebar {
    display: none;
  }
}

@media screen and (min-width: 960px) {
  .project-grid {
    width: 80vw;
    margin: 0 auto;
    padding: 90px 16px 32px;
    gap: 40px;
    display: grid;
    grid-template-columns: 3fr 1fr;
  }

  .sidebar {
    &--fixed {
      border-left: 1px solid #dadde1;
      position: fixed;
    }

    &__link-box {
      list-style-type: none;
      margin: 20px;
      padding: 0;
      font-size: 20px;
      color: #606770;
      cursor: pointer;

      &:hover {
        transition: 400ms linear;
        color: #007be2;
        padding-left: 20px;
      }
    }
  }
}

.content {
  &__title {
    font-size: 40px;
    margin-bottom: 20px;
  }

  &__demo-image {
    & > img {
      max-width: 100%;
      border-radius: 20px;
    }
  }

  &__subtitle {
    //h2
    margin: 40px 0px 16px;
    font-size: 32px;
  }

  &__description {
    font-size: 20px;
    line-height: 36px;

    a {
      color: #007be2;
      text-decoration: none;

      &:hover {
        color: #005bff;
      }
    }
  }

  &__snapshot {
    display: block;
    margin-bottom: 40px;
    max-width: 100%;
    border-radius: 20px;
  }
}

.technology {
  &__list {
    list-style-position: inside;
    // font-weight: bold;
    font-size: 24px;
    margin: 5px 0;
  }

  &__sublist {
    font-size: 20px;
    padding-left: 20px;
    margin: 5px 0;

    line-height: 36px;

    span {
      color: #606770;
    }
  }
}
