$postify-font-size: 18px !default;
$postify-line-height: 1.8 !default;

$postify-color-hr: #999 !default;
$postify-color-link-hover: #333 !default;
$postify-color-link: #3273dc !default;
$postify-color-header-counter: #888 !default;

.blog {
  margin: 0px auto;
  padding-top: 120px;
  max-width: 60vw;
  font-size: 16px;

  .nav {
    position: absolute;
    color: white;
    background: transparent;
    box-shadow: none;
    left: 0;

    &__name {
      color: white;
    }
  }

  &__title-container {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }

  &__title {
    font-size: 32px;
    font-weight: 600;
  }

  &__date {
    font-size: 16px;
  }
}

.postify {
  max-width: 100%;
  margin: 0 auto;

  font-size: $postify-font-size;
  line-height: $postify-line-height;

  &__description {
    margin: 10px 0;
  }

  &__topic-table {
    margin: 30px 0;
    padding: 20px 30px;
    border-left: 5px solid #dbdbdb;
    background-color: #f5f5f5;

    ul {
      list-style-type: square;
      padding-left: 20px;
    }

    a {
      color: #3273dc;
    }
  }

  &__content {
    //Cannot use BEM, becuase all html is parse by plugin
    p > img {
      display: block;
      margin: 0 auto;
    }

    a {
      color: $postify-color-link;
      text-decoration: none;
    }

    a:hover,
    ins:hover {
      color: $postify-color-link-hover;
      text-decoration: underline;
      text-underline-position: under;
    }

    ol {
      list-style: decimal;
      padding-left: 21px;
    }

    li,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      a {
        border-bottom: 1px solid transparent;
      }

      a:hover {
        text-decoration: none;
        border-bottom: 1px solid;
      }
    }

    a img {
      vertical-align: baseline;
    }

    cite {
      border-bottom: 3px double;
    }

    h1 {
      font-size: 36px;
    }

    h2 {
      font-size: 32px;
      margin-top: 30px;
      margin-bottom: 20px;
    }

    h3 {
      font-size: 28px;
    }

    h4 {
      font-size: 24px;
    }

    h5 {
      font-size: 20px;
    }

    h6 {
      font-size: 16px;
    }

    p {
      margin-bottom: 24px;
    }

    hr {
      border: 0 none;
      border-bottom: 1px solid $postify-color-hr;
      margin-top: 32px;
      margin-bottom: 32px;
    }

    h2,
    h3,
    h4 {
      &:before {
        margin-right: 0.5em;
        color: $postify-color-header-counter;
      }
    }

    //Title Sequence
    counter-reset: chapter section subsection;

    h2 {
      counter-reset: section;

      &:before {
        content: counter(chapter);
        counter-increment: chapter;
      }
    }

    h3 {
      counter-reset: subsection;

      &:before {
        content: counter(chapter) "." counter(section);
        counter-increment: section;
      }
    }

    h4:before {
      content: counter(chapter) "." counter(section) "." counter(subsection);
      counter-increment: subsection;
    }

    code {
      color: #3273dc;
      font-size: 0.875em;
      font-weight: 400;
      padding: 0 5px;
      background-color: #f5f5f5;
    }

    ul, ol{
      margin-left: 20px;
      margin-bottom: 20px;
    }

  }

  &__tags {
    margin-top: 20px;
  }

  &__tag {
    display: inline-block;
    background-color: #3298dc;
    font-size: 18px;
    margin-right: 10px;
    padding: 0 8px;
    border-radius: 5px;
    > a {
      color: white;
    }
  }
}
