$postify-font-size: 14px !default;
$postify-line-height: 1.8 !default;

$postify-color-hr: #999 !default;
$postify-color-link-hover: #333 !default;
$postify-color-link: #81a2c2 !default;
$postify-color-header-counter: #888 !default;

.blog{
    &__titlebar{
        width: 100vw;
        height: 20vh;
        background-color: blue;
    }
}

.postify {
  margin-left: auto;
  margin-right: auto;
  font-size: $postify-font-size;
  line-height: $postify-line-height;

  &__description{
      margin: 0 10px;
  }

  &__topic-table{
      padding: 10px;
      border-left: 5px solid #dbdbdb;
      background-color: #f5f5f5;
  }
}
