/// global

// @font-face {
//   font-family: "Calibri";
//   font-weight: 700;
//   font-style: normal;
//   font-variant: normal;

//   src: url("../fonts/Calibri\ Bold.ttf");
// }

// @font-face {
//   font-family: "Calibri";
//   font-weight: 500;
//   font-style: normal;
//   font-variant: normal;

//   src: url("../fonts/Calibri\ Regular.ttf");
// }

// html {
//   font-size: 62.5%; /* 1rem = 16px * 62.5% = 10px */
//   box-sizing: border-box;
// }

@font-face {
  font-family: "Calibri";

  src: url("../fonts/Calibri\ Regular.ttf");
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  font-family: Calibri, sans-serif;
  -moz-user-select: auto;
  -webkit-user-select: auto;
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

///

//Style for "/"
.home {
  background-image: url("../images/home/background.jpg");
  max-width: 100vw;
  width: 100vw;
  min-height: 100vh;
  color: #fcf7f8;

  &__wrap {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
  }

  &__avatar {
    display: flex;
    justify-content: center;
    width: auto;
    margin: 0 auto;
    img {
      display: block;
      height: 200px;
      border-radius: 50%;
    }
  }

  &__name {
    font-size: 50px;
    text-align: center;
  }

   //I feel bad about this, but I do not find a better solution
   @media (min-width: 960px){ 
    .nav {
      color: white;
      background: transparent;
      box-shadow: none;

      &__name {
        color: white;
        & > a {
          color: white;
        }
      }

      &__option {
        & > a {
          text-decoration: none;
          color: white;
        }
      }
    }
   }

  @media (max-width: 959px) {
   .nav {
      color: white;
      background: transparent;
      box-shadow: none;

      &__name {
        color: white;
        & > a {
          color: white;
        }
      }

      &__name--black {
        color: black;
        & > a {
          color: black;
        }
      }

      &__option {
        & > a {
          text-decoration: none;
        }
      }
    }
  }
}

//Style for 404
