.nav{
    position: sticky;
    top: 0;

    width: 100vw;
    box-sizing: border-box;
    height: 60px;
    background-color: white;
    font-size: 17px;
    padding: 8px 20px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
   

    display: grid;
    grid-template-columns: 350px 1fr;

    &__avatar{
        display: flex;
        align-items: center;
        img{
            display: block;
            max-height: 32px;
            max-width: 32px;
            border-radius: 50%;
        }
    }

    &__name{
        margin: 0 10px;
    }

    &__options{
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    &__option{
        margin: 0 25px;
    }
}