.project {
  width: 96vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 40px;

  & a{
    text-decoration: none;
  }
  
  &__item {
    max-width: 400px;
    min-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__image {
    margin: 20px 10px 10px 10px;
    display: block;
    border-radius: 20px;
    max-width: calc(100% - 20px) ;
    transition: 500ms;

    &:hover{
      transition: 500ms;
      max-width: 100%;
      margin: 20px 0px 10px 0px;
    }
  }

  &__title {
    font-size: 32px;
    text-align: center;
    color: black;
  }

  &__type {
    font-weight: normal;
    font-size: 20px;
    text-align: center;
    color: #A9A9A9;
    margin-bottom: 10px;
  }

  &__description {
    margin: 4px;
    font-size: 20px;
    color: black;
  }

  &__tags{
    margin: 20px 0;
  }

  &__tag{
      display: inline-block;
      margin: 4px;
      padding: 6px;
      border-radius: 8px;
      font-size: 16px;
      color: #FFFFFF;
      background-color: #59A5D8;
  }
}

//////////////////////
//child-pages
/////////////////////
.project-grid {
  width: 80vw;
  margin: 0 auto;
  padding: 90px 16px 32px;
  gap: 40px;
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.content {
  &__title {
    font-size: 40px;
    margin-bottom: 20px;
  }

  &__demo-image {
    
    & > img {
      max-width: 100%;
      border-radius: 20px;
    }
  }

  &__subtitle {
    //h2
    margin: 40px 0px 16px;
    font-size: 32px;
  }

  &__description {
    font-size: 20px;
    line-height: 36px;

    a {
      color: #007be2;
      text-decoration: none;

      &:hover {
        color: #005bff;
      }
    }
  }

  &__snapshot{
      display: block;
      margin-bottom: 40px;
      max-width: 100%;
      border-radius: 20px;
  }
}

.technology {
  &__list {
    list-style-position: inside;
    // font-weight: bold;
    font-size: 24px;
    margin: 5px 0;
  }

  &__sublist{
    font-size: 20px;
    padding-left: 20px;
    margin: 5px 0;
    span {
        color: #606770;
    }
      
  }
}

.sidebar {
  
  &--fixed{
    border-left: 1px solid #dadde1;
    position: fixed;
  }

  &__link-box {
    list-style-type: none;
    margin: 20px;
    padding: 0;

    :hover{
      transition: 400ms linear;
      color: #007be2;
      padding: 20px;
    }
  }

  &__link {
    text-decoration: none;
    font-size: 20px;
    color: #606770;
  
  }
}
