//   <div className="job">
//   <div className="job__company-name">Wellness World</div>
//   <div className="job__job-title">Frontend Develop</div>
//   <div className="job__job-time">2020.05 - 2020.08</div>
//   <div className="job__job-description">
//     Wellness World works on developing Mental Wellness Platform for North
//     American college/university students. I am the only front-end develop
//     in the team. My job is to develop a MVP for our Saas. The platform
//     would be launched in 2020.09 in at least two North American
//     Universities.
//   </div>
// </div>
.job {
  max-width: 85vw;
  margin: 50px auto;
  padding: 30px;
  border-radius: 20px;
  color: #000000;
  text-decoration: none;

  box-shadow: 0 5px 10px -1.25px rgba(10, 10, 10, 0.1),
    0 0 0 1px rgba(10, 10, 10, 0.02);

  &:hover {
    cursor: pointer;
    padding: 36px;
    transition: 500ms;
    margin: 44px auto;
  }

  display: grid;
  gap: 20px;
  grid-template-columns: 300px 240px 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "icon name title"
    "icon time description";

  &__company-icon {
    grid-area: icon;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & > img {
      width: 280px;
    }
  }

  &__company-name {
    font-size: 28px;
    grid-area: name;
  }

  &__job-title {
    font-size: 28px;
    grid-area: title;
  }

  &__job-time {
    font-size: 24px;
    grid-area: time;
  }

  &__job-description {
    font-size: 20px;
    grid-area: description;
  }

  &__detail{
      color: #007be2;
  }
}
